
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="c-row">
    <div class="c-column">
        <img src="~/img/img1.png" style="width:100%"/>
        <img src="~/img/img2.png" style="width:100%" />
        <img src="~/img/img3.png" style="width:100%" />
        <img src="~/img/img4.png" style="width:100%" />
    </div>
    <div class="c-column">
        <img src="~/img/img3.png" style="width:100%" />
        <img src="~/img/img4.png" style="width:100%" />
        <img src="~/img/img1.png" style="width:100%" />
        <img src="~/img/img2.png" style="width:100%" />
    </div>
</div>