body {
    width: 100%;
    height: calc(100vh);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

body::after {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: center top no-repeat;
    background-image: url(../../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.20;
    z-index: -2;
}
